* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

p {
  font-size: 1.375rem;
  margin-bottom: 2.5rem;
}

.max-42 {
  max-width: 42px;
}

/* ==================================================================
	Header
================================================================== */

#myVideo {
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.header {
  position: fixed;
  width: 100%;
  padding: 1.875rem;
  background: transparent;
  z-index: 300;
  transition: .3s ease-out;
}

.header-nav-content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-bg {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
  background: linear-gradient(#000, transparent);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-content {
  position: relative;
  color: #FFF;
  max-width: 70%;
  display: block;
  margin: 0 auto;
  padding-top: 29rem;
}

.header-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 2.5rem;
  text-align: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  margin-right: 50px;
}

.menu-list li a {
  position: relative;
  color: #FFF;
}

.menu-list li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #FC4C02;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .25s ease-in;
}

.menu-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* ==================================================================
	Button
================================================================== */

.btn-header {
  position: absolute;
  background: #FC4C02;
  border: 1px solid #FFF;
  opacity: 0.7;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 400;
  padding: .825rem;
  grid-area: auto;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: .3s ease;
}

.btn-header:hover {
  opacity: 1;
}

/* ==================================================================
	Grid
================================================================== */

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
  padding-top: 16rem;
}

.grid-section {
  position: relative;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/* ==================================================================
	About
================================================================== */

.grid-container.about {
  padding-bottom: 7.5rem;
  background: #F4F4F4;
}

.about::before {
  position: absolute;
  content: '';
  background: #FC4C02;
  width: 685px;
  height: 1px;
  bottom: 42%;
  transform: translateY(-50%);
  left: 0;
}

.about .grid-content {
  grid-column: 5 / 11;
  z-index: 100;
}

.mission {
  color: #FC4C02;
  margin-bottom: 3.125rem;
}

.about-text {
  position: absolute;
  text-transform: uppercase;
  font-size: 12.9rem;
  font-weight: bold;
  line-height: 196px;
  color: #CCCCCC;
  width: 700px;
  top: -170px;
  left: 0;
  opacity: .25;
  z-index: -1;
}

/* ==================================================================
	Enterprises
================================================================== */

.grid-container.enterprises {
  padding-bottom: 7.5rem;
}

.enterprises-text {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 12.9rem;
  font-weight: bold;
  line-height: 196px;
  color: #CCCCCC;
  width: 100%;
  top: -170px;
  left: 0;
  opacity: .25;
  z-index: -1;
}

.enterprises .grid-section h2 {
  grid-column: 3 / 9;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 37px;
  padding-bottom: 1.25rem;
}

.enterprises .grid-content.tab {
  grid-column: 1 / 11;
  padding-top: 3.125rem;
}

.tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid #25282A;
}

.tab-menu li {
  position: relative;
  cursor: pointer;
  padding: 1.25rem 3rem;
}

[data-nav="dark"].active, [data-tab="menu"] li.active {
  background: #25282A;
  color: #FFF;
}

[data-tab="menu"] li.active::before {
  position: absolute;
  content: '';
  width: 121px;
  height: 4px;
  bottom: -22.5px;
  left: 50%;
  transform: translateX(-50%);
  background: #FC4C02;
}

.active a {
  color: #FFF;
}

/* ==================================================================
	Card
================================================================== */

.tab-content {
  grid-column: 1 / 11;
}

.grid-content.tab-cards {
  grid-column: 1 / 11;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3.125rem;
  gap: 1.25rem;
}

.card {
  position: relative;
  transform: scale(1);
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-1 {
  grid-column: 1 / 2;
}

.card-2 {
  grid-column: 2 / 3;
}

.card-3 {
  grid-column: 3 / 4;
}

.card-container {
  position: absolute;
  padding: 7.625rem .625rem;
  background: #25282A;
  color: #FFF;
  opacity: .8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 1;
}

.card-container a {
  z-index: 1;
  transition: .1s ease-in;
}

.card-container h4 {
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: .625rem;
}

.card-container p {
  font-size: .75rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.875rem;
}

.grid-content.tab-cards.active {
  display: grid;
}

.card-active .card-container {
  display: block;
}

.card-active .card-container a {
  color: #FFF;
}

.plus-icon {
  position: absolute;
  content: '';
  background: url(../../assets/images/icons/icon-plus.svg) center/contain no-repeat;
  width: 35px;
  height: 35px;
  left: 50%;
  transform: translateX(-50%);
}

/* ==================================================================
	Contact
================================================================== */

.grid-container.contact {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
}

.contact {
  background: #25282A;
  color: #CCCCCC;
}

.contact h3 {
  color: #FC4C02;
  font-size: 1.25rem;
}

.contact p {
  font-size: 1rem;
}

.information {
  grid-column: 1 / 6;
  padding-right: 3rem;
}

.contact-info {
  grid-column: 6 / 11;
}

.adress {
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #CCCCCC;
}

.adress p {
  padding-top: 1.875rem;
  line-height: 32px;
  margin-bottom: 0;
}

.phone-email {
  position: relative;
  padding: 1.875rem 0;
  border-bottom: 1px solid #CCCCCC;
}

.phone-email p {
  margin-bottom: 1.875rem;
  margin-left: 2.5rem;
}

.phone-email a {
  color: #CCCCCC;
  margin-left: 2.5rem;
}

.phone-icon {
  position: absolute;
  content: '';
  background: url(../../assets/images/icons/icon-phone.svg) center/contain no-repeat;
  width: 28px;
  height: 28px;
  left: 0;
}

.email-icon {
  position: absolute;
  content: '';
  background: url(../../assets/images/icons/icon-email.svg) center/contain no-repeat;
  width: 28px;
  height: 28px;
  left: 0;
  bottom: 24px;
}

.fb-ig-in {
  padding-top: 1.875rem;
}

.fb-ig-in ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 23px;
}

.contact-info p {
  padding-top: 1.875rem;
}

.contact-form {
  padding-right: 20px;
}

#name {
  margin-right: 1rem;
}

#name, #email {
  width: 44%;
  background: #25282A;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  padding: 1.375rem 0 1.375rem 1rem;
}

#message {
  margin-top: 1rem;
  display: block;
  width: 100%;
  background: #25282A;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  padding: 1.375rem 0 1.375rem 1rem;
}

/* ==================================================================
	Mobile
================================================================== */

@media (max-width: 931px) {
  .grid-content.tab-cards {
    grid-template-columns: 1fr;
  }

  .card-1, .card-2, .card-3 {
    grid-column: 1;
  }

  .card {
    padding: 3rem;
  }

  .card-container {
    margin: 3rem;
  }
}