* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

p {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  line-height: 25px;
}

.max-42 {
  max-width: 42px;
}

/* ==================================================================
	Header
================================================================== */

.header-img {
  background-size: 100% 100%;
  z-index: -1;
}

.header {
  position: fixed;
  width: 100%;
  padding: 1.875rem;
  background: transparent;
  z-index: 300;
  transition: .3s ease-out;
}

.header-nav-content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-bg {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
  background-image: url(../images/pictures/JanduiCasas5.jpg);
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.header-bg::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#000, transparent);
}

.header-content {
  grid-column: 2 / 3;
  position: relative;
  color: #FFF;
  max-width: 70%;
  display: block;
  margin: 0 auto;
  padding-top: 29rem;
}

.header-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 2.5rem;
  text-align: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  margin-right: 50px;
  text-transform: uppercase;
}

.menu-list li a {
  position: relative;
  color: #FFF;
}

.menu-list li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #FC4C02;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .25s ease-in;
}

.menu-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* ==================================================================
	Button
================================================================== */

.btn-header {
  position: absolute;
  background: #FC4C02;
  border: 1px solid #FC4C02;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 400;
  padding: .825rem;
  grid-area: auto;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: .3s ease;
  opacity: .7;
}

.btn-header:hover {
  opacity: 1;
}

/* ==================================================================
	Grid
================================================================== */

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
  padding-top: 16rem;
}

.grid-section {
  box-sizing: border-box;
  position: relative;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/* ==================================================================
	About
================================================================== */

.grid-container.about {
  background: #fff;
  grid-template-columns: repeat(15, 1fr);
  padding-top: 19rem;
}

.about .grid-content {
  position: realative;
}

.about-us {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.about-us::before {
  content: '';
  position: absolute;
  width: 76px;
  border: 1px solid #25282A;
  left: -100px;
  top: 50%;
}

/* .about::before {
  position: absolute;
  content: '';
  background: #FC4C02;
  width: 30%;
  height: 1px;
  bottom: 42%;
  transform: translateY(-50%);
  left: 0;
} */

.about .grid-content {
  grid-column: 9 / 13;
  padding: 6rem 1.5rem;
  z-index: 1;
}

.mission {
  font-size: 1.375rem;
  font-weight: 600;
  color: #FC4C02;
  margin-bottom: 4rem;
  line-height: 30px;
}

.about-box {
  position: absolute;
  text-transform: uppercase;
  color: #CCCCCC;
  width: 700px;
  top: 120px;
  left: calc(50% - 400px);
  z-index: -1;
}

.about-text {
  font-size: 15.6rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}

.btn-about {
  position: absolute;
  border: 1px solid #25282A;
  background: #fff;
  color: #25282A;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: .3s ease;
}

.btn-about:hover {
  background: #25282A;
  color: #fff;
}

.img-1 {
  grid-column: 1 / 5;
  grid-row: 1;
  padding: 0 1.5rem;
  z-index: 10;
}

.img-2 {
  grid-column: 5 / 9;
  grid-row: 1;
  padding: 15rem 1.5rem 0 1.5rem;
  z-index: 10;
}

/* ==================================================================
	Info
================================================================== */

.facts {
  background: #25282A;
  color: #fff;
}

.facts .grid-section {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 7.5rem;
}

.facts-title {
  font-size: 1.375rem;
  position: relative;
  grid-column: 1 / 3;
  margin-bottom: 5.5rem;
  padding-left: 6.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

.facts-title::before {
  content: '';
  position: absolute;
  width: 76px;
  border: 1px solid #fff;
  left: 0;
  top: 50%;
}

.facts-bkg {
  position: absolute;
  text-transform: uppercase;
  width: 700px;
  top: -195px;
  right: calc(50% - 15px);
}

.bkg-text {
  font-size: 12.5rem;
  font-weight: bold;
  line-height: 1;
  color: #25282A;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}

.fact-box-left {
  grid-column: 1 / 2;
  background: #25282A;
  border: 1px solid #CCCCCC;
  padding: 6rem 4rem;
  position: relative;
  transition: .3s ease;
  z-index: 2;
}

.fact-box-right {
  grid-column: 2 / 3;
  background: #25282A;
  border: 1px solid #CCCCCC;
  padding: 6rem 4rem;
  position: relative;
  transition: .3s ease;
  z-index: 2;
}

.fact-box-title {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 2.2rem;
  padding-left: 4rem;
}

.fact-box-title::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 63px;
  top: 80px;
  transition: .3s ease-in-out;
}

.fact-box-title.security::before {
  background: url(../images/icons/ico-seguranca.svg) center no-repeat;
  background-color: #FC4C02;
}

.fact-box-title.efficiency::before {
  background: url(../images/icons/ico-eficiencia.svg) center no-repeat;
  background-color: #FC4C02;
}

.fact-box-title.planning::before {
  background: url(../images/icons/ico-planejamento.svg) center no-repeat;
  background-color: #FC4C02;
}

.fact-box-title.quality::before {
  background: url(../images/icons/ico-qualidade.svg) center no-repeat;
  background-color: #FC4C02;
}

.fact-box-left p, .fact-box-right p {
  font-size: 1rem;
  margin-bottom: 0;
}

.fact-box-left:hover, .fact-box-right:hover {
  background: #FC4C02;
}

.fact-box-left:hover .fact-box-title.security::before {
  background: url(../images/icons/ico-seguranca-orange.svg) center no-repeat;
  background-color: #fff;
}

.fact-box-right:hover .fact-box-title.efficiency::before {
  background: url(../images/icons/ico-eficiencia-orange.svg) center no-repeat;
  background-color: #fff;
}

.fact-box-left:hover .fact-box-title.planning::before {
  background: url(../images/icons/ico-planejamento-orange.svg) center no-repeat;
  background-color: #fff;
}

.fact-box-right:hover .fact-box-title.quality::before {
  background: url(../images/icons/ico-qualidade-orange.svg) center no-repeat;
  background-color: #fff;
}

/* ==================================================================
	Featured
================================================================== */

.featured {
  background: url(../images/pictures/bkg-featured.svg) center no-repeat;
}

.featured .grid-section {
  padding-top: 0;
}

.featured .grid-section p {
  font-size: 1.375rem;
  font-weight: bold;
  grid-column: 2 / 10;
  text-align: center;
  padding-bottom: 14rem;
}

/* ==================================================================
	Enterprises
================================================================== */

.grid-container.enterprises {
  padding-bottom: 7.5rem;
}

.slideshow-bg.slideshow-1 {
  grid-column: 1 / 4;
  background: url(../images/pictures/pht-03.png) center no-repeat;
  background-size: 100% 100%;
}

.slideshow-bg.slideshow-2 {
  grid-column: 1 / 4;
  background: url(../images/pictures/pht-04.png) center no-repeat;
  background-size: 100% 100%;
}

.slideshow-bg.slideshow-3 {
  grid-column: 1 / 4;
  background: url(../images/pictures/pht-06.png) center no-repeat;
  background-size: 100% 100%;
}

.slideshow {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
  grid-column: 1 / 4;
  background: rgba(0, 0, 0, .6);
  background-size: 100% 100%;
  min-height: 100vh;
}

.slide-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 3;
}

.number {
  font-size: 15.6rem;
  font-weight: 600;
  color: #fff;
  text-shadow: -1px -1px 0 #25282A, 1px -1px 0 #25282A, -1px 1px 0 #25282A, 1px 1px 0 #25282A;
  opacity: .5;
}

.slide-text {
  font-size: 1rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 0;
}

.slide-text.mb-58 {
  margin-bottom: 3.75rem;
}

.slide-title {
  min-width: 393px;
  grid-column: 1 / 3;
  margin: auto 0;
}

.slide-title h2 {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 3.75rem;
}

.slide-button {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: .3s ease;
}

.slide-button:hover {
  background: #FC4C02;
}

.enterprises-text {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 15.6rem;
  font-weight: bold;
  color: #fff;
  top: 115px;
  left: calc(50% - 690px);
  line-height: 1;
  text-shadow: -1px -1px 0 #25282A,
    1px -1px 0 #25282A,
    -1px 1px 0 #252525,
    1px 1px 0 #25282A;
  opacity: .5;
}

.enterprises .grid-content.tab {
  grid-column: 1 / 11;
  padding-top: 3.125rem;
}

.tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid #25282A;
}

.tab-menu li {
  position: relative;
  cursor: pointer;
  padding: 1.25rem 3rem;
}

[data-nav="dark"].active {
  background: #1F2224;
  color: #FFF;
}

[data-tab="menu"] li.active {
  background: #FC4C02;
}

[data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.active {
  display: block;
}

/* ==================================================================
	Contact
================================================================== */

.grid-container.contact {
  padding-top: 20rem;
  padding-bottom: 7.5rem;
}

.contact-text {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 15.6rem !important;
  font-weight: bold;
  color: #fff;
  top: -280px;
  left: calc(50% - 655px);
  line-height: 1;
  text-shadow: -1px -1px 0 #25282A,
    1px -1px 0 #25282A,
    -1px 1px 0 #252525,
    1px 1px 0 #25282A;
}

.contact h3 {
  position: relative;
  color: #25282A;
  font-size: 2.75rem;
}

.contact h3::before {
  content: '';
  position: absolute;
  width: 76px;
  border: 1px solid #FC4C02;
  bottom: -10px;
  left: 0;
}

.contact p {
  font-size: 1rem;
}

.ico-contact {
  max-width: 267px;
}

.information {
  grid-column: 1 / 6;
  padding-right: 3rem;
}

.contact-info {
  grid-column: 6 / 11;
}

.adress {
  padding-top: 2rem;
}

.adress p {
  padding-top: 2.8rem;
  line-height: 32px;
  margin-bottom: 0;
}

.phone-email {
  position: relative;
  padding-top: 2.8rem;
}

.phone-email p {
  margin-bottom: 2.8rem;
}

.email {
  color: #FC4C02;
  text-decoration: underline;
}

.phone-icon {
  position: absolute;
  content: '';
  background: url(../../assets/images/icons/icon-phone.svg) center/contain no-repeat;
  width: 28px;
  height: 28px;
  left: 0;
}

.email:hover {
  font-weight: bold;
}

.email-icon {
  position: absolute;
  content: '';
  background: url(../../assets/images/icons/icon-email.svg) center/contain no-repeat;
  width: 28px;
  height: 28px;
  left: 0;
  bottom: 24px;
}

.fb-ig-in ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fb-ig-in ul li {
  transition: .3s ease;
}

.instagram {
  cursor: pointer;
}

.contact-info p {
  padding-top: 2rem;
}

.contact-form {
  padding-right: 20px;
  border: none;
}

input, textarea {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #25282A;
}

#name, #email, #message {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  color: #25282A;
}

#name, #email {
  padding-bottom: .8rem;
}

#name {
  padding-top: 3.1rem;
}

#email, #message {
  padding-top: 2.2rem;
}

#tel {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  color: #25282A;
  padding-bottom: .8rem;
  padding-top: 2.2rem;
}

.btn-send {
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  color: #25282A;
  margin-top: 3.75rem;
  padding: 1.25rem 3.75rem;
  border: 1px solid #25282A;
  cursor: pointer;
}

.btn-send:hover {
  color: #fff;
  background: #25282A;
  border: 1px solid #25282A;
}

/* ==================================================================
	Footer
================================================================== */

.footer {
  grid-column: 1 / 11;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
  background: #1B1D1F;
  padding: 2.5rem 0;
}

.footer-box {
  grid-column: 2 / 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-wrap: nowrap;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.copyright p {
  font-size: 1rem;
}

.copyright p, p.development {
  margin: 0;
}

.development {
  color: #CCCCCC;
  opacity: .5;
  font-size: .75rem;
}

.development a {
  color: #CCCCCC;
  text-decoration: underline;
}

.footer-logo {
  max-width: 60px;
}

/* ==================================================================
	Animations
================================================================== */

[data-scroll="animation"] {
  opacity: 0;
  transform: translate3d(-400px, 0, 0);
}

[data-scroll="animation"].active {
  opacity: 1;
  transition: 2s;
  transform: translate3d(0, 0, 0);
}

[data-scroll="animation"].active.down {
  animation: down 2s forwards;
}

[data-scroll="animation"].active.up {
  animation: up 2s forwards;
}

[data-scroll="animation"].active.right {
  animation: right 2s forwards;
}

[data-scroll="animation"].active.left {
  animation: left 2s forwards;
}

[data-scroll="animation"].active.fade-out {
  animation: fade-out 2s forwards;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translate3d(0, -400px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translate3d(0, 400px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translate3d(-400px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translate3d(400px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

/* ==================================================================
	Quem Somos
================================================================== */

.quem-somos .header-bg {
  height: unset;
}

.quem-somos .grid-section, .novo-residence .grid-section, .jabuticabeira .grid-section, .view .grid-section {
  grid-template-columns: 1fr minmax(300px, 1024px) 1fr;
}

.quem-somos .introduction {
  background: #25282A;
}

.quem-somos .introduction .grid-content {
  color: #fff;
  padding-top: 15rem;
  padding-bottom: 23rem;
  grid-column: 2 / 3;
  position: relative;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}

.about-us-title {
  font-size: 9rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #25282A;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}

.quem-somos .about-us {
  margin-left: 6rem;
  margin-bottom: 3rem;
}

.quem-somos .about-us::before {
  border: 1px solid #fff;
}

.arrow-down {
  position: absolute;
  max-width: 47px;
  height: 50px;
  left: -60px;
  bottom: 40px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.intro-img {
  position: absolute;
}

.intro-img-mobile {
  display: none;
}

.dream-house.grid-content {
  padding-top: 23rem;
  grid-column: 2 / 3;
  padding-bottom: 5rem;
}

.dream-house {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.dream-house h3 {
  color: #FC4C02;
  font-size: 2.5rem;
}

.dream-house p {
  max-width: 490px;
  margin-bottom: 0;
}

.quem-somos .featured.grid-container {
  padding-top: 7rem;
}

.quem-somos .featured h3 {
  color: #FC4C02;
  text-align: center;
  margin-bottom: 1.75rem;
}

.quem-somos .featured p {
  display: block;
  place-self: center;
  max-width: 552px;
  padding-bottom: 7rem;
}

.quem-somos .featured .grid-content {
  grid-column: 1 / 3;
  place-self: center;
}

.grid-content.services {
  grid-column: 2 / 3;
  padding: 5rem 0;
}

.services h3 {
  font-size: 12rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: -1px -1px 0 #25282A, 1px -1px 0 #25282A, -1px 1px 0 #25282A, 1px 1px 0 #25282A;
  text-align: center;
  margin-bottom: 6rem;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.services-container img {
  max-width: 490px;
}

.services-box {
  position: relative;
}

.services-box p {
  position: absolute;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.8rem;
  line-height: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.values.grid-section {
  background: #25282A;
  color: #fff;
}

.values .grid-content {
  padding-top: 5rem;
  grid-column: 2 / 3;
}

.believes {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 6rem;
}

.believes::before {
  content: '';
  position: absolute;
  width: 76px;
  height: 1px;
  background: #fff;
  left: -100px;
  top: 50%;
}

.values .grid-content h3 {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  color: #25282A;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
  margin-bottom: 5rem;
}

.values-box, .details-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3.2rem;
}

.value-item, .detail-item {
  place-self: center;
  max-width: 200px;
}

.value-item p, .detail-item p {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4.75rem;
}

.value-img {
  height: 80px;
}

.img-container {
  max-width: 120px;
  background: #FC4C02;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
  max-height: 126px;
}

/* ==================================================================
	Novo Residence
================================================================== */

.project-title {
  background: url(../images/pictures/pht-11.png) center no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  padding-top: 25rem;
}

.project-title .grid-content, .project-introduction .grid-content {
  position: relative;
  grid-column: 2 / 3;
}

.project-title h2 {
  color: #fff;
  font-size: 5.5rem;
  font-weight: bold;
  max-width: 725px;
}

.project-title .arrow-down {
  left: 0;
  top: 50%;
}

.project-introduction {
  padding: 10.5rem 0;
}

.project-introduction h3 {
  color: #FC4C02;
  font-size: 3.9rem;
  text-transform: uppercase;
  margin-bottom: 3.4rem;
}

.project {
  background: linear-gradient(180deg, #25282A 50%, #FFF 50%);
}

.project-info {
  grid-column: 2 / 3;
  padding-top: 4.375rem;
}

.project-img {
  max-width: 953px;
  margin-left: auto;
}

.project-img-mobile {
  display: none;
}

.project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4.375rem;
}

.project-list li {
  border: solid 1px #fff;
  color: #fff;
  padding: 1.5rem 8rem;
  cursor: pointer;
}

.project-description {
  position: relative;
}

.project-description h2 {
  position: absolute;
  top: 13rem;
  font-size: 6.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: -1px -1px 0 #25282A, 1px -1px 0 #25282A, -1px 1px 0 #25282A, 1px 1px 0 #25282A;
}

.project-description .arrow-down {
  top: 35%;
  left: 0
}

.details-container {
  position: relative;
  padding-top: 22.5rem;
}

.detail-item .img-container {
  background: #fff;
  border: solid 1px #ccc;
  padding: 24px;
}

.detail-img {
  height: 75px;
}

.blueprint {
  background: #25282A;
}

.blueprint-content {
  padding-top: 4rem;
  grid-column: 2 / 3;
  padding-bottom: 10.5rem;
}

.blueprint h2 {
  font-size: 8.1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #25282A;
  text-align: center;
  text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}

.blueprint-img-mobile {
  display: none;
}

.map {
  grid-column: 1 / 4;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 600px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 600px;
  width: 100%;
}

/* ==================================================================
	Jabuticabeira
================================================================== */

.jabuticabeira .project-title {
  background: url(../images/pictures/pht-19.png) center no-repeat;
}

/* ==================================================================
	Jabuticabeira
================================================================== */

.view .project-title {
  background: url(../images/pictures/pht-20.png) center no-repeat;
}

/* ==================================================================
	Carousel
================================================================== */

.carousel-item img {
  max-height: 660px;
}

.carousel-control-next {
  right: -110px;
}

.carousel-control-prev {
  left: -110px;
}

.carousel-caption {
  background: rgba(0, 0, 0, .6);
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-next-icon {
  background: url(../images/icons/ico-arrow-right.svg) center no-repeat;
}

.carousel-control-prev-icon {
  background: url(../images/icons/ico-arrow-left.svg) center no-repeat;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-item {
    transition: transform .6s ease-in-out;
  }
}

/* ==================================================================
	Media Queries
================================================================== */

@media (max-width: 1100px) {
  .grid-container, .footer-box, .quem-somos .grid-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 931px) {
  .grid-content.tab-cards {
    grid-template-columns: 1fr;
  }

  .card-1, .card-2, .card-3 {
    grid-column: 1;
  }

  .card {
    padding: 5rem 3rem;
  }

  .card-container {
    margin: 5rem 3rem;
  }

  #name {
    margin-bottom: 1rem;
  }

  #name, #email {
    width: 100%;
  }
}

@media (max-height: 861px) {
  .project-title .arrow-down {
    top: 80%;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 1.13rem;
  }

  .header-content h1 {
    font-size: 2.65rem;
  }

  .grid-container.about {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6rem;
  }

  .about-box {
    left: calc(50% - 350px);
    top: 65px;
  }

  .about-text {
    font-size: 8rem;
  }

  .about-us {
    margin-left: 6rem;
    margin-bottom: 8rem;
  }

  .about .grid-content {
    grid-column: 1 / 3;
    padding-bottom: 5rem;
  }

  .btn-about {
    margin-top: 0;
    margin-bottom: 1.5rem;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .img-1 {
    grid-column: 2 / 3;
    grid-row: unset;
    padding: 4rem .5rem 0;
  }

  .img-2 {
    grid-column: 1 / 2;
    grid-row: unset;
    padding: 0 .5rem;
  }

  .featured {
    background: url(../images/pictures/bkg-featured-tablet.svg) center no-repeat;
  }

  .grid-container {
    padding-top: 12.5rem;
  }

  .featured .grid-section p {
    padding-bottom: 10rem;
  }

  .bkg-text {
    font-size: 6rem;
    padding-top: 7rem;
  }

  .facts-bkg {
    right: calc(50% - 350px);
  }

  .facts-title {
    padding-left: 8rem;
  }

  .facts-title::before {
    left: 17px;
  }

  .fact-box-title::before {
    left: 33px;
    top: 35px;
  }

  .fact-box-right, .fact-box-left {
    padding: 3rem 2rem;
  }

  .enterprises-text {
    font-size: 8rem;
    left: calc(50% - 350px);
    top: 55px;
  }

  .grid-container.enterprises {
    padding-left: 0;
    padding-right: 0;
  }

  .slide-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15rem 0;
  }

  .number {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    font-size: 10rem;
  }

  .slide-text {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    max-width: 330px;
  }

  .slide-title {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
  }

  .slide-title h2 {
    text-align: center;
  }

  .slide-button {
    margin-left: 50%;
    transform: translate(-50%);
  }

  .slideshow-bg.slideshow-1 {
    background: url(../images/pictures/slideshow-fke-tablet-01.png) center no-repeat;
    background-size: 100% 100%;
  }

  .slideshow-bg.slideshow-2 {
    background: url(../images/pictures/slideshow-fke-tablet-02.png) center no-repeat;
    background-size: 100% 100%;
  }

  .slideshow-bg.slideshow-3 {
    background: url(../images/pictures/slideshow-fke-tablet-03.png) center no-repeat;
    background-size: 100% 100%;
  }

  .grid-container.contact {
    padding-top: 16rem;
  }

  .contact .grid-section {
    grid-template-columns: 1fr 1fr;
  }

  .information {
    grid-column: 1 / 3;
  }

  .contact-info {
    grid-column: 1 / 3;
    padding-top: 4rem;
  }

  .contact-text {
    font-size: 8.5rem !important;
    left: calc(50% - 350px);
    top: -235px;
  }
}

@media (max-width: 600px) {

  .header-bg {
    background: url(../images/pictures/mobile-00.png) center no-repeat;
    background-size: 100% 100%;
  }

  .header-content {
    padding-top: 20rem;
  }

  .btn-header {
    font-size: 1rem;
    padding: .5rem;
    width: 170px;
  }

  .about-text {
    font-size: 4.5rem;
    width: 286px;
  }

  .about-box {
    left: calc(50% - 135px);
    width: 300px;
  }

  .about-us {
    margin-bottom: 4rem;
  }

  .about .grid-content {
    padding-top: 8rem;
  }

  .btn-about {
    width: 226px;
    padding: .5rem;
  }

  .img-1, .img-2, .fact-box-left, .fact-box-right {
    grid-column: 1 / 3;
  }

  .slideshow-bg.slideshow-1 {
    background: url(../images/pictures/mobile-01.png) center no-repeat;
    background-size: 100% 100%;
  }

  .slideshow-bg.slideshow-2 {
    background: url(../images/pictures/mobile-02.png) center no-repeat;
    background-size: 100% 100%;
  }

  .slideshow-bg.slideshow-3 {
    background: url(../images/pictures/mobile-03.png) center no-repeat;
    background-size: 100% 100%;
  }

  .grid-container.featured {
    padding: 2.5rem 0;
    margin: 4rem 15px;
  }

  .featured {
    background: none;
    border: solid 1px #FC4C02;
  }

  .featured .grid-section p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .bkg-text {
    font-size: 2.5rem;
    width: 286px;
  }

  .facts-bkg {
    right: calc(50% - 150px);
    width: 300px;
  }

  .grid-container.enterprises {
    padding-top: 5.5rem;
    padding-bottom: 2rem;
  }

  .enterprises-text {
    font-size: 3.5rem;
    left: calc(50% - 164px);
    top: 55px;
  }

  .slide-item {
    display: block;
    overflow-x: hidden;
  }

  .slide-title {
    display: block;
    position: relative;
    padding: 0 15px;
  }

  .slide-title h2, .slide-text {
    display: inline-block;
  }

  .slide-button {
    position: absolute;
    left: calc(50% - 7px);
    margin: 0;
    bottom: -50px;
  }

  .slide-title h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .grid-container.contact {
    padding-top: 6.5rem;
  }

  .contact-text {
    font-size: 3.5rem !important;
    left: calc(50% - 160px);
    top: -80px;
  }

  .copyright p {
    width: 130px;
  }

  .menu-list {
    display: none;
  }

  .about-us-title {
    font-size: 3rem;
  }

  .arrow-down {
    display: none;
  }

  .dream-house {
    flex-wrap: wrap;
  }

  .dream-house h3 {
    font-size: 1.375rem;
  }

  .services h3, .values .grid-content h3 {
    font-size: 3.7rem;
  }

  .services-box p {
    font-size: 1.75rem;
  }

  .values-box, .details-container {
    grid-template-columns: 1fr 1fr;
  }

  .intro-img-mobile, .project-img-mobile {
    position: absolute;
    max-width: 330px;
    display: block;
  }

  .intro-img, .project-img {
    display: none;
  }

  .quem-somos .introduction .grid-content {
    padding-bottom: 15rem;
  }

  .dream-house.grid-content {
    padding-top: 12rem;
  }

  .quem-somos .featured.grid-container {
    margin-top: 0;
    padding-top: 2rem;
  }

  .grid-content.services {
    padding-top: 0;
  }

  .project-title h2 {
    font-size: 2.9rem;
  }

  .project-introduction h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .project-description h2 {
    font-size: 2.25rem;
  }

  .project-list {
    justify-content: space-evenly;
  }

  .novo-residence .grid-section, .jabuticabeira .grid-section, .view .grid-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .novo-residence .project-title {
    background: url(../images/pictures/mobile-05.png) center no-repeat;
    background-size: 100% 100%;
  }

  .project-introduction {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .project-list li {
    margin-bottom: 1rem;
  }

  .project {
    background: linear-gradient(180deg, #25282A 30%, #FFF 30%);
  }

  .details-container {
    padding-top: 19rem;
  }

  .blueprint h2 {
    font-size: 4.5rem;
  }

  .blueprint-img {
    display: none;
  }

  .blueprint-img-mobile {
    display: block;
  }

  .jabuticabeira .project-title {
    background: url(../images/pictures/mobile-16.png) center no-repeat;
    background-size: 100% 100%;
  }

  .view .project-title {
    background: url(../images/pictures/mobile-12.png) center no-repeat;
  }

  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev {
    left: 0;
  }

  [data-nav="dark"], [data-tab="menu"] li {
    background: #25282A;
    color: #FFF;
  }
}